<div class="font-color">
    <div class="center">
        <b class="title">Registrar:</b>
    </div>
    <div class="login">
        <div class="inputs">
            <div>
                <label>Nome:</label><br>
                <input type="text" #name>
            </div>
            <div>
                <label>Email:</label><br>
                <input type="text" #email>
            </div>
            <div>
                <label>Senha:</label><br>
                <input type="password" #password>
            </div>
            <div *ngIf="showMessage" style="margin-top: 0.6em;">
                <span id="alert" >{{ message }}</span>
            </div>
            <div>
                <button (click)="register(email.value, password.value, name.value)" style="margin-top: 0.6em;">Registrar</button>
            </div>
            <div>
                <a routerLink="">Voltar</a>
            </div>
        </div>
    </div>
</div>
