.center{
    display: grid;
    place-items: center;
}

input{
    font-family: poppins;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
    outline: none;
    border: none;
}

a{
    color: #000000;
}
a:hover{
    color: #000000;
}

button {
    padding: 0.3em 0.7em;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #4158d0;
    z-index: -1;
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}