<div class="font-color">
    <div class="center">
        <b class="title">Bem vindo!!</b>
    </div>
    <div class="content center">
        <div class="text">    
            <table border="1px">
                <thead>
                    <tr>
                        <th>Números disponiveis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let number of numbers">{{ number.num }} -- {{ number.owner }}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h3><b>Comprar número</b></h3>
                <select>
                    <option *ngFor="let number of numbers">{{ number.num }}</option>
                </select>
                &nbsp;<button>Comprar!</button>
            </div>
        </div>
    </div>
</div>
