.center{
    display: grid;
    place-items: center;
}
.font-color{
    color: white;
}
.content{
    background-color:  	#967259;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}
.text{
    padding: 1em;
}
.title{
    font-size: 2em;
}
td{
    text-align: center;
}
table{
    word-break: break-all;
    width: auto;
    table-layout: fixed;
}
td, th{
    max-width: 100%;
    height: auto;
}