.center{
    display: grid;
    place-items: center;
}
th{
    text-align: center;
}
.font-color{
    color: white;
}
.content{
    background-color:  	#967259;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}
.text{
    padding: 1em;
}
.title{
    font-size: 2em;
}