.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:  	#38220f;
    color: white;
    font-weight: 600;
}
.headerContent {
    margin: 1em;
}
.headerTitle{
    font-size: 1.5em;
    text-decoration: inherit;
}