<div class="font-color">
    <div class="center">
        <b class="title">Login:</b>
    </div>
    <div class="login">
        <div class="inputs">
            <div>
                <label>Email:</label><br>
                <input type="text" #email>
            </div>
            <div>
                <label>Senha:</label><br>
                <input type="password" #password>
            </div>
            <div>
                <button (click)="onSignin(email.value,password.value)" style="margin-top: 0.6em;">Login</button>
            </div>
            <div>
                <a routerLink="register">Cadastre-se</a>
            </div>
        </div>
    </div>
</div>
