body{
    background-color: #ece0d1;
}
a{
    color: white;
}
a:hover{
    color: white;
}
button {
    padding: 0.3em 0.7em;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #ffffff;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.bodyContent {
    display: flex;
    margin: 60px 30% 0 30%;
    flex-direction: column;
    background-color: #634832;
    -webkit-box-shadow: 4px 8px 19px 2px #000;
    box-shadow: 4px 8px 19px 2px #000;
}


.complete{
    background-color: #634832e1;
    height: 50em;
    margin: 0 30% 0 30%;
    -webkit-box-shadow: 4px 8px 19px 2px #000;
    box-shadow: 4px 8px 19px 2px #000;
}

@media only screen and (max-width: 600px) {
    .bodyContent {
        display: flex;
        margin: 60px 0 0 0;
        flex-direction: column;
        background-color: #634832;
    }
    
    .complete{
        background-color: #634832e1;
        height: 30em;
        margin: 0 0 0 0;
    }
}

#alert{
    color: #751e19; 
    background-color: white;
    font-weight: bold;
    border-radius: 5px 5px 5px;
    padding: 0.2em;
    border: 1px solid rgb(138, 0, 0);
}

button::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color: #38220f;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms
}

button:hover {
color: #e8e8e8;
}

button:hover::before {
width: 100%;
}