body{
    background-color: #ece0d1;
}

.container{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em;
    font-family: poppins;
    font-weight: 700; 
}

#alert{
    color: #751e19; 
    background-color: white;
    font-weight: bold;
    border-radius: 5px 5px 5px;
    padding: 0.2em;
    border: 1px solid rgb(138, 0, 0);
}